@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

:root {
    --navButtonsBeforeVw: 2.5vw; 
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    
   
}
a{
    cursor: url(img/greenCircle.png) 14 14 ,auto;


}
body{
    width: 100vw;
    height: 300vh;
    background: linear-gradient(to right, #fff, #e6e6e6);
    overflow-x: hidden;
    cursor: url(img/cursor.png) 14 14 ,auto;
    background-repeat: no-repeat;

}
body::-webkit-scrollbar { 
    display: none; 
}
.header{
    
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 20%;
    
}
.name-wrapper{
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0% 0% 0% 3%;
}
.header-inner-name{
    font-size: calc(40px + 3vw);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #0A2342;
    position: absolute;
    bottom: 30px;
    transform: rotate(-2deg);
    transition: 0s;
}
.header-inner-name::after{
    content: 'Nikola Ormanliev';
    font-size: calc(40px + 3vw);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #8ACDEA;
    position: absolute;
    top: -4px;
    left: -5px;
    width: 100%;
    height: 100%;
}

.nav-container{
    position: absolute;
    top: 30%;
    left: 9%;
    
    border-top: 5px solid 		#B8B8B8 ;
    border-right: 5px solid 		#B8B8B8;
    transform: rotate(-2deg);
}
.nav-ul>li{
   list-style-type: none;
   text-align: right;
   padding-right: 20px;
}
.nav-ul>li>a{
    font-size: 3.5vw;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #8ACDEA;
    position: relative;
}

#home-btn::before{
    display: inline-block;
    content: '00.';
    position: absolute;
    height: 100%;
    font-size: 2.5vw;
    color: black;
    left: 0;
    line-height: 6vw;
    transform: translateX(-125%);
}
#home-btn::after{
    display: inline-block;
    content: 'home';
    font-size: 3.5vw;
    position: absolute;
    left: 3px;
    top: 2px;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    color: #0A2342;
}
#about-btn::before,  #projects-btn::before,#contact-btn::before{
    display: inline-block;
    content: '01.';
    position: absolute;
    height: 100%;
    font-size: var(--navButtonsBeforeVw);
    color: #ccc;
    left: 0;
    line-height: 6vw;
    transform: translateX(-125%);
}

.home-text-container{
    position: absolute;
    right: 15vw;
    top: calc(27vh);
    transform: rotate(-2deg);
}
.home-text-container::after{
    content: '';
    width: 100%;
    height: 7px;
    position: absolute;
    bottom: -7px;
    left: 7px;
    background-color: #8ACDEA ;
}
.home-text-container::before{
    content: '';
    width: 7px;
    height: calc(100% - 7px);
    position: absolute;
    right: -7px;
    top: 7px;
    background-color: #8ACDEA ;
}
.yellow-div{
    background-color: #e4e881;
    height: 15vh;
    width: 80vw;
    position: absolute;
    top: 40%;
    right: 0;
    z-index: -1;
    transform: rotate(3deg); 
}
.purple-div{
    background-color: #9d8cdb;
    height: 15vh;
    width: 80vw;
    position: absolute;
    top: 15%;
    right: -10%;
    z-index: -1;
    transform: rotate(84deg); 
    mix-blend-mode: hue;
}
.green-div{
    
    background-color: #8cdba5;
    height: 7vh;
    width: 102vw;
    position: absolute;
    bottom: 5%;
    left: 0;
    z-index: -1;
    transform: rotate(-3deg); 
}
.home-text-container>p{
    display: inline-block;
    font-family: 'Open Sans',sans-serif;
    font-size: 5vw;
    font-weight: 600;
    display: block;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.7);
    background-color: #0A2342;
}
.home-text-inner{
    position: absolute;
    bottom: 0px;
    left: 5vw;
    transform: translateY(125%);
}

.home-text-inner>p{
    display: inline-block;
    font-family: 'Open Sans',sans-serif;
    font-size: 4.5vw;
    font-weight: 600;
    display: block;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.7);
    background-color: #0A2342;
}
.home-span{
    transition: 0.1s;
}
#projects-btn::before{
    content: '02.';
}
#contact-btn::before{
    content: '03.';
}
#home-btn:hover::after{
    transform: translate(3px, 1px);
}
#contact-btn, #about-btn, #projects-btn{
    transition: 0.1s;
    border-bottom: 5px solid 		#B8B8B8;
}
#contact-btn:hover, #about-btn:hover, #projects-btn:hover{
    transition: 0.2s;
    color: #0A2342;
}
.lines-container{
    position: absolute;
    left: -300px;
    transform: rotate(-2deg);
    bottom: 0px;
    mix-blend-mode: color-burn;
}


.lines{
    width: 125px;
    height: 17px;
    background-color: #0A2342;
    position: absolute;
    left: 0px;
    transform: translateX(0);
    transition: 0.7s;
    animation: moving 6s linear infinite;
    
}

.lines:nth-child(1){
    animation-delay: 1s;
}
.lines:nth-child(2){
    animation-delay: 2s;
}
.lines:nth-child(3){
    animation-delay: 3s;
}
.lines:nth-child(4){
    animation-delay: 4s;
}
.lines:nth-child(5){
    animation-delay: 5s;
}
.lines:nth-child(6){
    animation-delay: 6s;
}
.lines:nth-child(7){
    animation-delay: 7s;
}
.diag-line{
    height: 120vh;
    width: 40px;
    position: absolute;
    bottom: -60px;
    left: calc(212px + 30vw);
    transform: rotate(20deg);
    background-color: black;
    z-index: -1;
    
}
.diag-line::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: -6px;
    background-color: #8ACDEA;
}
.diag-line-branch{
    position: absolute;
    top: 50%;
    left: 2px;
    width: 500px;
    height: 60px;
    background-color: black;
    z-index: -1;
}
.diag-line-branch>p{
    
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 60px;
}

@keyframes moving{
    from{transform: translateX(0)}
    to{transform: translateX(2250px)}
}
@media screen and (max-width: 950px){
    .header{
        height: 21%;      
    }
    .name-wrapper{
        max-width: 450px;
    }
    
    .main-content{
        top: 27%;
    }
    :root {
        --navButtonsBeforeVw: 4.5vw; 
      }
      .header-inner-name{
          bottom: 10px;
      }
      .nav-container li>a,.nav-container li>a::before,.nav-container li>a::after{
        font-size: 50px !important;
        
    }
    .nav-ul>li>a::before{
        line-height: 65px !important;
    }
    
}
@media screen and (max-width: 450px){
    .header{
        height: 23%;     
    }
    .main-content{
        top: 30%;
    }
    .name-wrapper{
        max-width: 350px;
    }
    .lines-container-2{
       
        right: 10vw;
      
    }
    .span-home{
        font-size: 20px;
    }
    .home-text-container{
        top:30vh;
    }
    .nav-container{
        top: 38%;
        left: 18%;
    }
    .nav-container li>a,.nav-container li>a::before,.nav-container li>a::after{
        font-size: 50px !important;
        
    }
    .nav-container {
        border-top: 3px solid 		#B8B8B8 ;
        border-right: 3px solid 		#B8B8B8;
    }
    #home-btn, #contact-btn, #about-btn, #projects-btn {
        border-bottom: 3px solid 		#B8B8B8 ;
        
    }
   
    .header-inner-name{
        bottom: 30px;
    }
    .green-div{
        display: block;
    }
}
@media screen and (max-width: 400px){
    .header{
        height: 27%;   
    }
    .main-content{
        top: 32%;
    }
    .name-wrapper{
        transform: scale(0.85) rotate(-2deg);
    }
    .nav-container{
        transform: scale(0.85) rotate(-3deg);
    }
}