@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    
   
}
a{
    cursor: url(img/cursor.png) 14 14 ,auto;

}
body{
    width: 100vw;
    height: 300vh;
    background: linear-gradient(to right, #fff, #e6e6e6);
    overflow-x: hidden;
    cursor: url(img/cursor.png) 14 14 ,auto;
}
body::-webkit-scrollbar { 
    display: none; 
}
.header{
    
    position: absolute;
    top: 2%;
    left: 0%;
    width: 100vw;
    height: 20%;
    
}
.name-wrapper{
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 3% 0% 0% 3%;
}
.header-inner-name{
    font-size: calc(40px + 3vw);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #0A2342;
    position: absolute;
    bottom: 30px;
    transform: rotate(-2deg);
    transition: 0s;
}
.header-inner-name::after{
    content: 'Nikola Ormanliev';
    font-size: calc(40px + 3vw);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #8ACDEA;
    position: absolute;
    top: -4px;
    left: -5px;
    width: 100%;
    height: 100%;
}

.nav-container{
    position: absolute;
    top: 30%;
    left: 9%;
    width: 300px;
    height: 400px;
    border-top: 5px solid 		#B8B8B8 ;
    border-right: 5px solid 		#B8B8B8;
    transform: rotate(-2deg);
}
.nav-ul>li{
   list-style-type: none;
   text-align: right;
   padding-right: 20px;
}
.nav-ul>li>a{
    font-size: 70px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #8ACDEA;
    position: relative;
}

#home-btn::before{
    display: inline-block;
    content: '00.';
    position: absolute;
    height: 100%;
    font-size: 45px;
    color: black;
    left: 0;
    line-height: 114px;
    transform: translateX(-125%);
}
#home-btn::after{
    display: inline-block;
    content: 'home';
    font-size: 70px;
    position: absolute;
    left: 3px;
    top: 2px;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    color: #0A2342;
}
#about-btn::before,  #projects-btn::before,#contact-btn::before{
    display: inline-block;
    content: '01.';
    position: absolute;
    height: 100%;
    font-size: 40px;
    color: #ccc;
    left: 0;
    line-height: 114px;
    transform: translateX(-125%);
}
#projects-btn::before{
    content: '02.';
}
#contact-btn::before{
    content: '03.';
}
#home-btn:hover::after{
    transform: translate(3px, 1px);
}
#contact-btn, #about-btn, #projects-btn{
    transition: 0.1s;
    border-bottom: 5px solid 		#B8B8B8;
}
#contact-btn:hover, #about-btn:hover, #projects-btn:hover{
    transition: 0.2s;
    color: #0A2342;
}
.lines-container{
    position: absolute;
    left: -300px;
    transform: rotate(-2deg);
    bottom: 0px;
}
.lines-container-2{
    position: absolute;
    top: -150px;
    right: 30vw;
    transform: rotate(87deg);
}
.lines-container-2>.lines{
    background-color: #8ACDEA !important;
}

.lines{
    width: 125px;
    height: 17px;
    background-color: #0A2342;
    position: absolute;
    left: 0px;
    transform: translateX(0);
    transition: 0.7s;
    animation: moving 6s linear infinite;
}

.lines:nth-child(1){
    animation-delay: 1s;
}
.lines:nth-child(2){
    animation-delay: 2s;
}
.lines:nth-child(3){
    animation-delay: 3s;
}
.lines:nth-child(4){
    animation-delay: 4s;
}
.lines:nth-child(5){
    animation-delay: 5s;
}
.lines:nth-child(6){
    animation-delay: 6s;
}
.lines:nth-child(7){
    animation-delay: 7s;
}



.main-content{
    height: 70vh;
    width: 90%;
    position: absolute;
    left: 50%;
   
    top: 25%;
    background-color: white;
   transform: translateX(-50%) rotate(-2deg);
   transform-origin: 0px 0px ; 
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}
@keyframes moving{
    from{transform: translateX(0)}
    to{transform: translateX(2250px)}
}
@media screen and (max-width: 950px){
    .header{
        height: 21%;      
    }
    .name-wrapper{
        max-width: 450px;
    }
    
    .main-content{
        top: 27%;
    }
}
@media screen and (max-width: 450px){
    .header{
        height: 23%;     
    }
    .main-content{
        top: 30%;
    }
    .name-wrapper{
        max-width: 350px;
    }
    .lines-container-2{
       
        right: 10vw;
      
    }
}
@media screen and (max-width: 400px){
    .header{
        height: 27%;   
    }
    .main-content{
        top: 32%;
    }
    .name-wrapper{
        transform: scale(0.85) rotate(-2deg);
    }
    .nav-container{
        transform: scale(0.85) rotate(-3deg);
    }
}